{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <div class="col-md-7 col-md-offset-3 about">
        Гостиница «Барнаул» – крупнейший отель столицы Алтайского края, расположенный в центре деловой,
        административной, развлекательной части Барнаула, где для Вас приготовлены комфортные номера.
        Центральная городская транспортная развязка рядом с гостиницей позволяет без пересадок добраться до любой точки города.
        В здании гостиницы находится самый крупный ресторан Алтайского края – это заведение с особенными традициями;
        здесь проводятся завтраки по системе «шведский стол».
        Вечером в ресторане можно провести деловую встречу, послушать живую музыку.<br>

        <img src="{% static 'assets/images/fon31-1024x5761-1.jpg' %}" alt="" class="img-responsive">
       Для того, чтобы сделать отдых гостей максимально комфортным и приятным, – гостям предлагается на выбор 318 уютных номеров
        различных категорий способны одновременно разместить 473 человека. Неоспоримым достоинством 12-ти этажного здания гостиницы
        является открывающийся уникальный вид на город. Номера оборудованы телефоном, телевидением, сейфом и другим современным
        сервисным оснащением. К Вашим услугам:
        охраняемая автомобильная парковка, камера хранения багажа, бизнес центр, банкомат, конференц-залы, во всех номерах и
        общественных зонах работает бесплатный Wi- Fi Интернет.
        <img src="{% static 'assets/images/DSC_5638_HDR.jpg' %}" alt="" class="img-responsive">
        Оплата возможна за наличный расчет, по карте VISA/Master Card, безналичный расчет (работаем с НДС).<br>
        Гостиница «Барнаул» является членом Российской Гостиничной Ассоциации.
    </div>
{% endblock %}