{% extends 'layout.html' %}
{% block content %}
    <div class="col-md-12" style="margin-bottom: 20px">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 booking-form">
                <form id="booking-form" action="">
                    <div class="form-group">
                        <label for="fio">ФИО</label>
                        <input type="text" id="fio" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Вид</label>
                        <select class="form-control" name="name">
                            {% for room in rooms %}
                                <option value="{{ room.name }}">{{ room.name }}</option>
                            {% endfor %}

                        </select>
                    </div>
                    <div class="form-group date">

                         <span>
                             <label for="">Дата</label>
                            <input type="text" name="since" class="form-control">
                        </span>
                        <span>
                            <input type="text" name="till" class="form-control">
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="phone">Телефон</label>
                        <input type="text" id="phone" class="form-control">
                    </div>
                    {% csrf_token %}
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 booking-buttons" style="position: relative;">
                <button onclick="window.location.href =  '{% url 'index' %}'"><i class="fa fa-arrow-circle-left"></i> НАЗАД</button>
                <div></div>
                <button id="next" style="right: 0; position: absolute; top: 0;">ВПЕРЕД <i class="fa fa-arrow-circle-right"></i></button>
            </div>
        </div>
    </div>
    <script>
        (function () {
            $('#next').on('click', function () {
                validateForm(function(){
                    $.ajax({
                        url: {% url 'booking' %},
                        method: "POST",
                        data: $('#booking-form').serialize(),
                        success: function (response) {
                            alert(response)
                        },
                        error: function () {
                            alert("Что-то пошло не так")
                        }
                    })
                })
            })
        })(jQuery)

        function validateForm(callback) {
            var dirty = false;
            $('#booking-form input').each(function () {
                if($(this).val()==='')
                    dirty=true;
            })
            if(dirty)
                alert('Проверьте правильность введенных данных!')
            else{
                callback()
            }
        }
    </script>
{% endblock %}