{% extends 'layout.html' %}
{% block content %}
    <div class="col-md-12" style="margin-bottom: 20px">
        <div class="row">
            <div class="col-md-7">
                <form action="" class="contact-form">
                    <div class="form-group" style="display: flex; justify-content: space-between">
                        <span>
                            <label for="name">Имя:</label>
                            <input class="form-control" type="text" id="name">
                        </span>
                        <span>
                            <label for="name">Email:</label>
                            <input class="form-control" type="email" id="name">
                        </span>
                        <span>
                            <label for="name">Tелефон:</label>
                            <input class="form-control" type="" id="name">
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="message">Сообщение</label>
                        <textarea name="message" id="message" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                    <button type="submit">SUBMIT</button>
                </form>
            </div>
            <div class="col-md-5 address">
                <div class="row">
                    <div class="col-md-12">
                        <h1>ADRESS!</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 address-item">
                        г.Барнаул, ул.Ленина 11;<br>
                        тел.: 555-373;<br>
                        email: gost@mail.ru
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12 address-description">
                        laculis soluta illum, malesyada officia sagittis , minima cubilia nostrum, luctus dolorum aenean mus habitant putus
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}