{% extends "layout.html" %}
{% block content %}
    <div class="col-md-4 col-md-offset-4" style="margin-bottom: 20px">
        {% if not request.user.is_authenticated %}

            <div id="intro">
                <p>Войдите на сайт, чтобы иметь возможность забронировать номер.</p>
            </div>
            <div class="login-form" style="padding: 2em">
                <form action="{% url 'login_' %}" class="" method="post">
                    <div class="form-group">
                        <label for="username">
                            Имя пользователя
                        </label>
                        <input type="text" id="username" name="username" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password">Пароль</label>
                        <input type="password" name="password" class="form-control">
                    </div>
                    <button type="submit" class="form-control">Войти</button>
                    {% csrf_token %}
                </form>
                    <a href="{% url 'register' %}">Заргестрироваться</a>
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-12">
                    <h2>Номера, забронированные вами:</h2>
                </div>
            </div>
            {% for room in request.user.reserved_room.all %}
                <div class="row class reserved-rooms">
                    <div class="col-md-4 ">
                        Вид: {{ room.room.name }}
                    </div>
                <div class="col-md-4">
                    С:  {{ room.reserved_from }}
                </div>
                 <div class="col-md-4">
                    По:  {{ room.reserved_to }}
                </div>
                <div class="col-md-4">
                    Для: {{ room.reserved_for }}
                </div>
                </div>
            {% endfor %}

        {% endif %}
    </div>
{% endblock %}