{% extends 'layout.html' %}
{% block content %}
    <div class="col-md-4 col-md-offset-4" style="margin-bottom: 20px">

        <div class="login-form" style="padding: 2em">
            <form action="{% url 'register' %}" class="" method="post">
                <div class="form-group">
                    <label for="username">
                        Имя пользователя
                    </label>
                    <input type="text" id="username" name="username" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">
                        email
                    </label>
                    <input type="email" id="email" name="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input type="password" name="password" class="form-control">
                </div>
                <button type="submit" class="form-control">Зарегестрироваться</button>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}