{% extends 'layout.html' %}
{% block content %}
    <div class="col-md-12 slick-rooms" style="margin-bottom: 20px;">
        {% for room in rooms %}
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4" style="text-align: center">
                            <h1>{{ room.name }}</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 col-md-offset-4" style="font-size: 2.2em">
                            <div class="row">
                                <div class="col-md-6">
                                    <span style="border-bottom: 3px solid #fffe3f; margin-bottom: 5px;">Цена:</span> {{ room.price }}
                                </div>
                                <div class="col-md-6">
                                    <button onclick="check_booking('{{ room.name }}')" id="check_booking" style="background-color: #f7ff78; border: 1px solid rgba(80,80,80, 0.6)">
                                        Проверить бронь
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!--MODAL-->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Забронировано на следующие даты:
                </div>
                <div class="modal-body" id="modal"></div>
            </div>
        </div>
    </div>
    <script>
        function check_booking(name){
            var $ = jQuery;
            $.ajax({
                url: "{% url 'check-booking' %}",
                data: {
                    name: name
                },
                success: function (response) {
                    var user_id = response.user_id;
                    var modal = document.getElementById('modal');
                    modal.innerHTML = '';
                    function setRow(res,callback) {
                        res.forEach(function (item) {
                            var booked = document.createElement('div'),
                                row = document.createElement('div');
                            row.setAttribute('class', 'row');
                            booked.setAttribute('class', 'col-md-12');
                            booked.innerText = 'С:' + item.fields.reserved_from + ' По:' + item.fields.reserved_to;
                            if(item.fields.reserved_by === user_id)
                                booked.innerText += ' Забронировано вами'
                            row.appendChild(booked)
                            $('.modal-body').append(row);
                        });
                        callback()
                    }

                    setRow(response.rooms,function () {
                        $('.modal').modal();
                    })

                }
            })
        }
    </script>
{% endblock %}