{% extends 'layout.html' %}
{%  block content %}
    <div class="col-md-6 col-md-offset-3" style="margin-bottom: 20px">
        <div class="row">
            <div class="col-md-12">
                <img src="{{ service.image.url }}" alt="" style="width:100%;">
            </div>
        </div>
    <div class="row" style="margin-top: 20px">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h2>Описание:</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="font-size: 20px">
                    {{ service.description }}
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}