{% extends 'layout.html' %}
{% block content %}
    <div class="col-md-12 services">
        {% for service in servs %}
           <div class="row">
              <div class="col-md-10 col-md-offset-1">
                  <div class="row">
                      <div class="col-md-3 image">
                          <img src="{{ service.image.url }}" alt="" class="img-responsive">
                      </div>
                      <div class="col-md-9 short-desc">
                          <div class="row">
                              <div class="col-md-12">
                                  <h1>
                                    {{ service.name }}
                                  </h1>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12 description">
                                  {{ service.description }}
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <a href="/services/{{ service.id }}" style="float:right; margin-top: 20px; margin-right: 20px">Прочитать подробнее >></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
           </div>
        {% endfor %}
    </div>
{% endblock %}