{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <div class="col-md-12">
        <div class="row special">
            <div class="col-md-6">
                <div class="row ">
                    <div class="col-md-12" style="font-style: italic">
                        <h2>Свадебное предложение</h2>
                    </div>
                </div>
                <div class="row image">
                    <div class="col-md-12">
                        <img class="img-responsive" src="{% static 'assets/images/IMG_7850-1.jpg' %}" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            Свадьба – это особенный день, уникальный для каждого человека, который остается в памяти на всю жизнь.
                            Именно поэтому гостиница  “Барнаул” предлагает
                            Вам отпраздновать это событие так, что бы через года пронести воспоминания о свадьбе как самые приятные,
                            самые яркие и самые радостные.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12" style="font-style: italic">
                        <h2>Ранний заезд</h2>
                    </div>
                </div>
                <div class="row image">
                    <div class="col-md-12">
                        <img src="{% static 'assets/images/1-3.jpg' %}" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                        Гостиница «Барнаул» не берет дополнительную плату за ранний заезд!
                        Подробности уточняйте у администратора 201-600 или info@barnaulhotel.ru
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row special">
            <div class="col-md-6">
                <div class="row ">
                    <div class="col-md-12" style="font-style: italic">
                        <h2>Фотосессия в роскошных интерьерах</h2>
                    </div>
                </div>
                <div class="row image">
                    <div class="col-md-12">
                        <img class="img-responsive" src="{% static 'assets/images/001-1.jpg' %}" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            Ресторан «Барнаул» и гостиница «Барнаул» – идеальные места для проведения фотосессии!
                            Романтические свадебные снимки, фотографии в стиле «Love Story», модельные съемки в шикарных интерьерах и
                            другие тематические фотосессии принесут вам гамму незабываемых впечатлений и останутся в семейных архивах на долгие годы.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6" >
                <div class="row">
                    <div class="col-md-12" style="font-style: italic">
                        <h2>Счастливые часы от шеф повара</h2>
                    </div>
                </div>
                <div class="row image">
                    <div class="col-md-12">
                        <img src="{% static 'assets/images/na-oblozhku.jpg' %}" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                        Шеф-повар ресторана «Барнаул» приглашает вас отведать широкий ассортимент блюд со скидкой 20% на бизнес-ланче с 13:00 до 16:00 со
                            вторника по четверг.
                            Предложение действует в ресторане «Барнаул».
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}