.container-fluid {
    padding:0!important;
}
.menu {
    display: none;
    position: absolute;
}
header {
    position: absolute;
    top:0;
    width:100%;
    z-index: 99999;
}
header > .logo {
    text-align: center;
}
header > nav > ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    padding:0px 10px 0px 10px;
    margin: 0;
    justify-content: space-around;
}
header > nav {
    background: rgba(0,0,0,0.7);
    height: 70px;
}
nav li {
    margin-top: 10px;
}
nav li:not(:last-child){
    border-right:1px solid #fff;
    padding-right: 2em;
}

nav > ul > li > a{
    vertical-align: middle;
    text-decoration: none;
    color: #fff;
    font-size:3rem;
    text-align: center;
}
a:hover {
    text-decoration: none;
    color: #f7ff78;
}
@media all and (max-width: 1200px) {
    nav > ul > li > a{
        font-size:2.5rem;
    }
    header > nav {
        height: 60px;
    }
}
@media all and (max-width: 992px){
    nav > ul > li > a{
        font-size:2rem;
    }
}
@media all and (max-width: 768px){
    .menu {
        display: block;
    }
    .logo h1 {
        font-size: 3rem;
    }
    nav {
        display: none;
    }
}
.slick-arrow {
    z-index: 9;
}
.slick-arrow::before {
    font-size: 36px;
}
.slick-next{
    right: 100px;
}
.slick-prev {
    left: 50px;
}
#im1 {
    background-image: url("../images/new_york_skyline-1366x768.jpg");
    background-size: contain;
    /*position: absolute;*/
    /*top:0;*/
    /*left: 0;*/
}
#im2 {
    background-image: url("../images/project_35-U2NyZWVuc2hvdCBmcm9tIDIwMTYtMTAtMTMgMTg6MTM6MjA.png");
}
.slider-wrapper {
    height: 90vh;
}
.slider-wrapper > * {
    height: 90%;
}
.slick-slide img {
    width: 100%;
    object-fit: contain;
    max-height: 90%;
}
.slick-slide {
    max-height: 90vh;
}
.row {
    padding:0;
}
.services {
    margin-top: 20px;
    margin-bottom: 20px;
}

.short-desc {
    background-color: #1f1f1f;
    padding:10px 0px 40px 25px;
    color: #f7ff78;
}
.short-desc a {
    color: #f7ff78;
    font-size: 20px;
    font-weight: bold;
}
.short-desc a:hover {
    color: #fff;
}
.description {
    border-left: 3px solid #fff;
}
.form-group > span {
    display: inline-block;
}
.contact-form {
    padding-left: 4em;
}
.contact-form input,textarea{
    border-radius: 0!important;
}
.address {
    padding-left: 4em;
}
.address hr {
    border-top: 4px solid black ;
    right: 20px;
    width: 60px;
}
.address h1 {
    float: right;
    padding-right: 4rem;
}
.address-item {
    font-size: 24px;
    color: #878787;
}

.address-description {
    color: #000;
    font-size: 22px;
}
.contact-form button {
    border-radius: 0;
    font-size: 20px;
    padding: 8px 15px 8px 15px!important;
    background-color: transparent;
    border: 0.5px solid #878787;
}
.contact-form button:hover {
    background-color: #f7ff78;  
}
.booking-form {
    padding: 2em;
    background: linear-gradient(to left bottom,#f7ff78, #a0a854);
    border-radius: 20px;
    box-shadow: black 3px 3px 17px -3px;
}
.slick-rooms .slick-arrow::before {
    color: black!important;
}
.booking-buttons {
    margin-top: 15px;
}
.booking-buttons  button{
    padding:10px 20px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    box-shadow: 1px 1px 7px -2px;
}
#ui-datepicker-div {
    background-color: #fff;
    font-size: 20px;
}
#ui-datepicker-div {
    padding: 1.2em;
}
#ui-datepicker-div .ui-icon {
    text-indent: 0;
}
#ui-datepicker-div .ui-icon:hover {
    color: #000;
    cursor: pointer;
}
.reserved-rooms {
    padding:10px;
    font-size: 1.2em;
    border: 1px solid;
}
.modal {
    font-size: 1.2em;
}
.special p {
    font-size: 18px;
    padding:12px;
}
.about {
    font-size: 22px;
    text-align: left;
}
.about img {
    margin: 0 auto;
}
#intro p{
    padding: 10px;
    border: 1px solid red;
    border-radius: 5px;
}