{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Гостиница</title>
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui-dialog.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui-dialog-rtl.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.date_picker.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
    <link rel="stylesheet" href="{%  static 'assets/css/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <script src="{% static 'assets/js/jquery.js' %}"></script>

</head>
<body>
<section class="container-fluid">
    <header>
        <div class="menu">
            <i></i>
        </div>
        <div class="logo">
                <h1 style="font-weight: bolder">Гостиница</h1>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'rooms' %}">Номера</a></li>
                <li><a href="{% url 'services' %}">Услуги</a></li>
                <li><a href="{% url 'special' %}">Спец-предложения</a></li>
                <li><a href="{% url 'contacts' %}">Контакты</a></li>
                <li><a href="{% url 'about' %}">О нас</a></li>
                <li><a href="{% url 'booking' %}">Бронь номеров</a></li>
            </ul>
        </nav>
    </header>
    <div class="slider-wrapper">
        <div class="slider">
            <div>
                <img src="{% static 'assets/images/new_york_skyline-1366x768.jpg' %}" alt="">
            </div>
            <div>
                <img src="{% static 'assets/images/project_35-U2NyZWVuc2hvdCBmcm9tIDIwMTYtMTAtMTMgMTg6MTM6MjA.png' %}" alt="">
            </div>
        </div>
    </div>
    <div style="margin-top: 20px">
        {% block content %}
        {% endblock %}
    </div>
</section>
<script src="{% static 'assets/js/datepicker.min.js' %}"></script>
<script src="{% static 'assets/js/slick.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>